<div class="row">
    <div class="col-md-6">
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
    </div>
    <div class="col-md-6">
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
    </div>
</div>
