<div class="row" data-bind="with: skills">
    <div class="col-md-6">
        <div><strong>Appraise</strong> INT <input type="text" data-bind="value: Appraise}"/><p data-bind="text: Appraise}"></p></div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
    </div>
    <div class="col-md-6">
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
        <div><strong>Appraise</strong>INT</div>
    </div>
</div>
